.header__lang-link {
  font-family: 'Inter', Arial, sans-serif;
  font-size: calc(1rem + 0.8vw);
  line-height: 111%;
  color: #FFFF;
  text-decoration: none;
}

.header__lang-link:visited {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 1.5rem;
    line-height: 117%;
  }
}