.place__title {
  margin: 0;
  padding: 0 16px 32px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: calc(1.3rem + 3.5vw);
  line-height: 110%;
  color: #FFFFFF;
}

@media screen and (min-width:321px) {
  .place__title {
    max-width: 320px;
    font-size: calc(1.3rem + 2.77vw);
  }
}

@media screen and (min-width:768px) {
  .place__title {
   padding-left: 0px;
  }
}

@media screen and (min-width:1023px) {
  .place__title {
    font-size: 4.5rem;
  }
}

@media screen and (min-width:1280px) {
  .place__title {
    max-width: 460px;
  }
}