.gallery {
  padding: 0 16px 64px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 12px;
}

@media screen and (min-width: 768px) {
.gallery {
  padding: 0 24px 64px;
}
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding: 0 48px 64px;
  }
  }
  
