
.lead {
  display: flex;
  flex-direction: column;
  padding: 0 0 65px;
}

@media screen and (min-width: 768px) {
  .lead {
    padding: 0 0 88px;
}
}
@media screen and (min-width: 1024px) {
  .lead {
    padding: 0 4.689% 92px;
    max-width: 928px;
}
}
@media screen and (min-width: 1280px) {
  .lead {
    padding: 0 11.57%;
    max-width: 928px;
}
}