.cover__subtitle {
  margin: 0;
  max-width: 288px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.7rem + 0.88vw);
  line-height: 114%;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 1.13rem;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    font-size: 1.13rem;
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    font-size: 1.13rem;
  }
}