.footer__links {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0 86px;
  list-style-type: none;
}

@media screen and (min-width: 321px) {
  .footer__links {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

}