.place__paragraph {
  margin: 0;
  padding: 0 16px 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    width: 352px;
    padding: 11px 0px 17px 8px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 1.13rem;
    width: 446px;
    padding: 11px 0px 17px 8px;
  }
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    font-size: 1.13rem;
    width: 476px;
    padding: 11px 0px 17px 8px;
  }
}