.place__paragraph {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 16px 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  color: #FFFFFF;
}

.place__paragraph:last-child {

}

@media screen and (min-width: 769px) {
  .place__paragraph {
    font-size: calc(1rem + 0.19531vw);
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 1.125rem;
  }
}