.place__paragraph {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 16px 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  color: #FFFFFF;
}


@media screen and (min-width: 768px) {
  .place__paragraph {
    padding: 11px 9px ;
  }
}