.intro {
  margin: 0;
  padding: 0 5% 64px;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 0 3.126% 88px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 0 4.689% 93px;
    max-width: 690px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding: 0 11.57% 93px;
    max-width: 690px;
  }
}