.cover {
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  background-image: url(../../img/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.cover::before {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740/1184 * 100%); 
}


















/*.cover {
  min-height: 62.50vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-image: url(../../img/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover:hover {
  min-height: 62.50vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../img/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}