.lead__caption {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  padding-left: 16px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 0.63rem;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding-left: 0px;
  }
}