.cover__title {
  margin: 0;
  padding: 10.32% 5% 5%;
  font-style: normal;
  font-weight: 900;
  font-size: calc(0.3rem + 8.51vw);
  line-height: 110%;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 4.5rem;
    padding: 15% 13.6% 32px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    font-size: 4.5rem;
    padding: 19.1% 22.7% 32px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    font-size: 4.5rem;
    padding: 19.2% 24.38% 32px;
  }
}