.cover__title {
  margin: 0;
  max-width: 288px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: calc(0.3rem + 8.51vw);
  line-height: 110%;
  color: #FFFFFF;
  z-index: 1;
  padding-bottom: 16px;
}

@media screen and (min-width: 321px) {
  .cover__title {
    max-width: 80%;
  }
}

@media screen and (min-width: 489px) {
  .cover__title {
    max-width: 73%;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 4.5rem;
  }
}