.footer {
  padding: 0 16px 24px;
}

@media screen and (min-width: 321px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 11.5vw 16px 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 87px 33px 33px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 91px 57px 33px 47px;
  }
}