.intro__title {
  margin: 0;
  padding-bottom:  40px;
  font-style: normal;
  font-weight: 900;
  font-size: calc(1.3rem + 3.5vw);
  line-height: 109%;
  color: #FFFFFF;
}
@media screen and (min-width:767px) {
  .intro__title {
    font-size: 3.375rem ;
}
}